# LangChain e integrações
langchain-core
langchain-openai
langchain-community
langchain
langchain-huggingface
langchain-chroma

# Hugging Face
transformers
huggingface_hub
sentence-transformers

# Modelagem de dados
pydantic

# OpenAI
openai

#Automação
selenium
webdriver-manager
pandas
openpyxl
twilio

# Outros utilitários
ipykernel
jinja2
pypdf
yt_dlp
pydub
audioop-lts
#python_version>="3.13"
beautifulsoup4

faiss-cpu
post1
lark
